language: java
sudo: false
cache:
  directories:
    - $HOME/.m2
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk8
  - openjdk7
  - openjdk6
script:
  - mvn clean install -Pqulice --errors --batch-mode
