  ---
  PUSH and POP
  ---
  Yegor Bugayenko
  ---
  2014-11-02
  ---

PUSH and POP

  Let's say you start your Xembly manipulations from a place in DOM,
  which location is not determined for you. After your manipulations are
  done, you want to get back to exactly the same place. You should
  use <<<PUSH>>> to save your current location and <<<POP>>> to restore it
  back, when manipulations are finished, for example:

+--
PUSH;
ADD 'name';
SET 'Jeff';
POP;
+--
