# SPDX-FileCopyrightText: Copyright (c) 2013-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: hoc-badge
'on':
  push:
    branches:
      - master
concurrency:
  group: hoc-badge-${{ github.ref }}
  cancel-in-progress: true
jobs:
  hoc-badge:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: MikhailEpatko/hits-of-code-badge@main
        with:
          output_dir: gh-pages
          filename: hoc-badge.svg
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: gh-pages
          clean: false
        if: github.ref == 'refs/heads/master'
