# SPDX-FileCopyrightText: Copyright (c) 2013-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: markdown-lint
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths-ignore: ['paper/**', 'sandbox/**']
jobs:
  markdown-lint:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v20.0.0
