# SPDX-FileCopyrightText: Copyright (c) 2013-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: scancode
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  scancode:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          path: scancode-inputs/checkout
      - uses: aboutcode-org/scancode-action@alpha
        with:
          inputs-path: scancode-inputs
          pipelines: "scan_codebase"
          output-formats: "json xlsx spdx cyclonedx"
